In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_keys as g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Klaksvik,FO,2022-07-25 23:41:38,62.2266,-6.5890,47.32,85,39,11.81
1,1,Rigaud,CA,2022-07-25 23:41:04,45.4793,-74.3024,75.18,73,0,12.33
2,2,Jamestown,US,2022-07-25 23:39:45,42.0970,-79.2353,71.19,59,0,11.50
3,3,Ostrovnoy,RU,2022-07-25 23:41:38,68.0531,39.5131,51.40,82,43,8.95
4,4,Kapaa,US,2022-07-25 23:41:39,22.0752,-159.3190,84.18,63,100,16.11

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rigaud,CA,2022-07-25 23:41:04,45.4793,-74.3024,75.18,73,0,12.33
4,4,Kapaa,US,2022-07-25 23:41:39,22.0752,-159.3190,84.18,63,100,16.11
5,5,Tual,ID,2022-07-25 23:41:39,-5.6667,132.7500,79.72,83,42,20.69
11,11,Nimaparha,IN,2022-07-25 23:41:42,20.0667,86.0167,80.33,86,87,5.28
12,12,Tila,MX,2022-07-25 23:41:42,17.4000,-92.4833,76.17,86,93,3.06
13,13,Hithadhoo,MV,2022-07-25 23:41:43,-0.6000,73.0833,81.90,75,15,10.42
15,15,Albany,US,2022-07-25 23:41:43,42.6001,-73.9662,78.06,60,43,10.96
16,16,Kashi,CN,2022-07-25 23:41:44,39.4547,75.9797,83.41,21,0,6.71
17,17,Anshan,CN,2022-07-25 23:41:44,41.1236,122.9900,79.03,74,99,6.46
23,23,Butaritari,KI,2022-07-25 23:41:48,3.0707,172.7902,82.72,69,94,16.89

In [26]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Rigaud      CA     75.18  45.4793  -74.3024
4        Kapaa      US     84.18  22.0752 -159.3190
5         Tual      ID     79.72  -5.6667  132.7500
11   Nimaparha      IN     80.33  20.0667   86.0167
12        Tila      MX     76.17  17.4000  -92.4833
13   Hithadhoo      MV     81.90  -0.6000   73.0833
15      Albany      US     78.06  42.6001  -73.9662
16       Kashi      CN     83.41  39.4547   75.9797
17      Anshan      CN     79.03  41.1236  122.9900
23  Butaritari      KI     82.72   3.0707  172.7902

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [46]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rigaud,CA,75.18,45.4793,-74.3024,Motel Belair
4,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Tual,ID,79.72,-5.6667,132.7500,Grand Vilia Hotel
11,Nimaparha,IN,80.33,20.0667,86.0167,Gopinatha sweet
12,Tila,MX,76.17,17.4000,-92.4833,
13,Hithadhoo,MV,81.90,-0.6000,73.0833,Scoop Guest House
15,Albany,US,78.06,42.6001,-73.9662,
16,Kashi,CN,83.41,39.4547,75.9797,帕米尔青年旅舍
17,Anshan,CN,79.03,41.1236,122.9900,7Days Inn Anshan Bus Station
23,Butaritari,KI,82.72,3.0707,172.7902,Isles Sunset Lodge
35,Rikitea,PF,75.61,-23.1203,-134.9692,People ThankYou
36,Hasaki,JP,79.20,35.7333,140.8333,Inubosaki Kanko Hotel
37,Sao Filipe,CV,78.57,14.8961,-24.4956,Hotel Xaguate
40,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
42,Neiafu,TO,79.48,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
43,Korla,CN,79.59,41.7597,86.1469,Gulisitan Hotel
47,Nantucket,US,80.71,41.2835,-70.0995,Jared Coffin House
48,Porbandar,IN,81.86,21.6422,69.6093,Lords Inn Porbandar
52,Zhangye,CN,75.06,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
56,Turan,VN,76.98,16.0678,108.2208,Grand Mercure Danang

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# Store the DataFrame Row.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))