In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_keys as g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Klaksvik,FO,2022-07-25 23:41:38,62.2266,-6.5890,47.32,85,39,11.81
1,1,Rigaud,CA,2022-07-25 23:41:04,45.4793,-74.3024,75.18,73,0,12.33
2,2,Jamestown,US,2022-07-25 23:39:45,42.0970,-79.2353,71.19,59,0,11.50
3,3,Ostrovnoy,RU,2022-07-25 23:41:38,68.0531,39.5131,51.40,82,43,8.95
4,4,Kapaa,US,2022-07-25 23:41:39,22.0752,-159.3190,84.18,63,100,16.11

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Jamestown,US,2022-07-25 23:39:45,42.0970,-79.2353,71.19,59,0,11.50
10,10,San Quintin,MX,2022-07-25 23:41:41,30.4833,-115.9500,72.19,70,1,11.83
22,22,Yellowknife,CA,2022-07-25 23:40:16,62.4560,-114.3525,72.12,37,40,16.11
24,24,Vila Franca Do Campo,PT,2022-07-25 23:41:48,37.7167,-25.4333,72.01,93,43,3.31
25,25,Avarua,CK,2022-07-25 23:40:54,-21.2078,-159.7750,71.65,64,75,5.75
26,26,Port Harcourt,NG,2022-07-25 23:41:49,4.7774,7.0134,73.09,95,100,4.29
33,33,Saskylakh,RU,2022-07-25 23:41:52,71.9167,114.0833,72.88,62,79,6.44
54,54,Bara,NG,2022-07-25 23:43:00,10.3744,10.7288,73.47,91,87,13.15
55,55,Calabar,NG,2022-07-25 23:43:00,4.9517,8.3220,72.18,96,100,0.36
57,57,Sajanan,TN,2022-07-25 23:43:01,37.0573,9.2426,72.52,36,0,1.61

In [12]:
preferred_cities_df.count()

City_ID       94
City          94
Country       94
Date          94
Lat           94
Lng           94
Max Temp      94
Humidity      94
Cloudiness    94
Wind Speed    94
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
2              Jamestown      US     71.19  42.0970  -79.2353
10           San Quintin      MX     72.19  30.4833 -115.9500
22           Yellowknife      CA     72.12  62.4560 -114.3525
24  Vila Franca Do Campo      PT     72.01  37.7167  -25.4333
25                Avarua      CK     71.65 -21.2078 -159.7750
26         Port Harcourt      NG     73.09   4.7774    7.0134
33             Saskylakh      RU     72.88  71.9167  114.0833
54                  Bara      NG     73.47  10.3744   10.7288
55               Calabar      NG     72.18   4.9517    8.3220
57               Sajanan      TN     72.52  37.0573    9.2426

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,71.19,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,San Quintin,MX,72.19,30.4833,-115.9500,Don Eddie's Sport Fishing Center
22,Yellowknife,CA,72.12,62.4560,-114.3525,The Explorer Hotel
24,Vila Franca Do Campo,PT,72.01,37.7167,-25.4333,Pestana Bahia Praia
25,Avarua,CK,71.65,-21.2078,-159.7750,Paradise Inn
26,Port Harcourt,NG,73.09,4.7774,7.0134,The Riviera Homes Golf Resort
33,Saskylakh,RU,72.88,71.9167,114.0833,
54,Bara,NG,73.47,10.3744,10.7288,
55,Calabar,NG,72.18,4.9517,8.3220,NAKS Hotels (Formerly NAF Club)
57,Sajanan,TN,72.52,37.0573,9.2426,Mine de Dhoihria
75,Puerto Ayora,EC,70.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
79,Bengkulu,ID,72.97,-3.8004,102.2655,Grage Hotel Bengkulu
89,Mitu,CO,71.04,1.1983,-70.1733,
95,Lagoa,PT,73.67,39.0500,-27.9833,Casa Das Faias
104,Ulma,DE,74.01,48.3984,9.9916,Orange Hotel und Apartments
107,Padang,ID,73.45,-0.9492,100.3543,Mercure Padang
112,Khatanga,RU,71.87,71.9667,102.5000,"""Khatanga"""
121,Coria,ES,74.93,39.9879,-6.5377,Hotel San Cristóbal
130,Lafiagi,NG,73.76,8.8667,5.4167,Bus group international
133,Capitao Poco,BR,75.00,-1.7464,-47.0594,Hotel New Tokyo

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))